# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
*.iml

# Android
.gradle/
/local.properties
*.jks
*.keystore
android/key.properties
captures/
.cxx/

# iOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/Flutter/ephemeral/
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/xcuserdata/

# IDE
.idea/
*.swp
.vscode/

# Misc
.DS_Store
**/doc/api/
supabase/.temp/
